@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.sidebar{
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    width: 250px;
    position: sticky;
    margin-top: -20px;
    background-color: #2F4050;
   
}
.tabsss{
    margin-top: 50px;
}
.tabone{
    cursor: pointer;
    display: flex;
    background-color: teal;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
}
.tabadj{
    font-size: 20px;
    color: white;
    margin-right: 10px;
    margin-left: 30px;
}
.img{
    height: 500px;
    width: 500px;
}

.compo{

    position: relative;
    top: 50px;
}

.hosimg{

    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: white;
    margin: auto;
}

.hd1{
    
    text-align:  center;
    color: white;
    font-size: 20px;
    

}
