.designplasma1111{

    font-family: 'Varela Round', sans-serif;
    background-color:white;
        width: 98%;
    margin: auto;
    height: max-content;
    padding: 5px 10px;
    margin-bottom: 10px;

}