.search{

  height: 320px;
  background-color: white;
  margin-top: 5px;

}

.searchpp{
  height: 250px;
  background-color: white;
  margin-top: 5px;

}

.searchbar{
  width: 99%;
margin: auto;

}

.searchfield{
  margin-top: 10px;
  width: 99%;
  height: 2.8rem;
  outline: none;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  border-style: none;
  border: 1.5px solid gray ;
  background: #eeeded;
  border-radius: 20px;
  



}

p{
  text-align: center;
  font-size: 12px;
  color: gray;
  font-weight: bold;
  line-height: 2px;
}

.filter{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.fil{
  display: flex;
  justify-content: flex-start;
}
.namefilter{
  margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 5px;
    vertical-align: middle;
    text-align: center;

}

h3{
  border: 1px solid green;
  padding: 5px;
  border-radius: 13px;
}

.cf{
  font-size: 16px;
  padding: 5px 5px;
  color: white;
    vertical-align: middle;
    text-align: center;
  background-color: red;
}



