.tabs {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 2px;
  padding: 0px 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.data {
  font-weight: 700;
  font-size: 15px;
}

a {
  text-decoration: none;
}
